.btn {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  font-size: 1rem;
  color: white;
  box-shadow: 2px 2dpx rgba(0, 0, 0, 0.548);
  background-color: rgba(128, 128, 128, 0.5);
}

.btn:focus {
  outline: 0;
  color: white;
}

.btn:active {
  
  background-color: rgba(255, 255, 255, 0.459);
  outline: 0;
}

.keyElement {
  position: absolute;
  top: 4%;
  right: 4%;
  color: white;
  font-size: 1.2rem;
}

.col-xs-4 {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 4px;
}

.btn-inst {
  font-size: 1rem;
  width: 100px;
  height: 45px;
  margin-left: 2px;
}

.btn-inst:nth-of-type(1) {
  margin-bottom: 10px;
}

body {
  background-image: url('images/wallpaper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#logo {
  background-image: url('images/soundboard-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 140px;
  position: relative;
  margin-bottom: 10px;
}

#credits {
  color: rgba(255, 255, 255, 0.356);
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonsDiv {
  position: relative;
  width: auto;
  margin-bottom: 10px;
}

#portfolio {
  text-decoration: none;
  transition: 0.3s;
}

#portfolio:hover {
  color: white
}

@media only screen and (max-width:900px) {
  body {
    background-position: center;
  }

  #credits {
    position: relative;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.747);
  }

}